.navbar {
    background-color: #b01;
    border-top: 1px solid rgba(255,255,255,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    padding-bottom: 5px;
}

a.navbar-brand span {
    color: #fff !important;
    position: relative;
    top: 2px;
    left: 4px;
}

p {
    font-size: 16px;
}

h1 {
    font-weight: 600;
}

.container-map {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 500px;
    height: 500px;
    display: inline-block;
    background: transparent;
    overflow: hidden;
}

.map.map-uk {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -50px;
    left: 450px;
    -webkit-transform: scale(3.5);
    -moz-transform: scale(3.5);
    transform: scale(3.5);
}

.map.map-europe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.map path {
    fill: rgb(190,0,7) !important;
    stroke: rgba(255,255,255,1) !important;
    stroke-width: 0.2px !important;
}

.map path:hover {
    cursor: pointer;
    fill: #e50119 !important;
}

.map path.active {
    fill: rgb(254,182,69) !important;
}

.map path.disabled,
.map path.disabled:hover {
    cursor: default;
    fill: #dddddd !important;
    stroke: #dddddd !important;
}

.label {
    font-size: 15px;
    line-height: 19px;
}

.label.pull-left {
    margin-right: 5px;
    margin-bottom: 10px;
}

.label.label-default {
    background-color: #888;
}

.label.label-info {
    background-color: #e2333b;
}

.label.label-person {
    background-color: #3698e2;
}

.label.label-organisation {
    background-color: #ffac30;
}

.label.label-place {
    background-color: #4b9f51;
}

.label .badge {
    position: relative;
    background-color: rgba(0,0,0,0.1) !important;
    color: #fff !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 7px;
    margin-top: -4px;
    margin-bottom: -4px;
    margin-right: -9px;
    margin-left: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.fa-ul li {
    margin-bottom: 5px;
}

.ul-wrapper {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 1px;
    background: #ffffff;
    box-shadow: 0 2px 0 #dddddd;
}


.inline-block {
    display: inline-block !important;
}

.alert {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-width: 0;
    border-left-width: 5px;
}

.alert a {
    font-weight: bold;
}

/*#candidates {
    position: absolute;
    top: 0;
    left: 600px;
    width: 500px;
}*/

.fade-in {
    opacity: 0;
}

#select-region h2 {
    font-size: 42px;
    font-weight: 600;
}
.panel-accordian .panel-title a {
    display: block;
    cursor: pointer;
    padding: 10px;
}

.panel-accordian.panel,
.panel-accordian.panel .panel-heading {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0px;
}

.panel-accordian.panel .panel-heading {
    background-color: #1050a2 !important;
    color: #fff;
    padding: 0;
}

.panel-accordian .list-group-item.active,
.panel-accordian.panel .panel-heading:hover {
    border-color: #259eff !important;
    background-color: #259eff !important;
    color: #fff;
}

.panel-accordian.panel .panel-heading a,
.panel-accordian.panel .panel-heading a:hover {
    text-decoration: none;
}

.panel-accordian .list-group {
    margin-bottom: 5px;
}
.panel-accordian .list-group-item {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.list-group-item.active .text-muted {
    color: #fff;
}

.minibox {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 7px;
    position: relative;
    top: 1px;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.label.text-right {
    text-align: right;
}

#party-topics .label {
    clear: left;
}

.centered {
  text-align: center;
}
/*
#candidate-concepts .media {
    height: 36px;
    margin-bottom: 0px !important;
    overflow: hidden;
    padding: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#candidate-concepts .media:hover {
    background: #eee;
    cursor: pointer;
}

#candidate-concepts .media.expanded,
#candidate-concepts .media.expanded:hover {
    background: transparent;
    height: auto;
    overflow: auto;
}
*/
