body {
  background-color: #F3F3F3;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  font-family: sans-serif;
  color: #353434;
}
h1, h2{
  text-align: center;
}
h1 {
  font-size: 40px;
  margin-top: 10%;
}

p{
  padding-left: 20%;
  width: 60%;
}

header {
  display: block;
  background-color: #cd0102;
  width: 100%;
  height: 50px;
}
header img {
  padding: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

#minilabs {
  right: 0;
  bottom: 0;
  position: fixed;
}

#top {
  margin-bottom: 20%;
  text-align: center;
  color: #353434;
}

#leftpie {
  margin-right: 4em;
}
#rightpie {
  margin-left: 4em;
}
